*{
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: sans-serif;
    font-variant: small-caps;
    font-weight: 100;
}
.background{
    margin-top: -23px;
    height: 100vh;
    width: 100vw;
    background-color: rgb(5, 5, 5);
    color: white;
}
.background1{
    height: 100vh;
    width: 100vw;
    background-color: rgb(32, 32, 32);
    color: white;
}

.background2{
    height: 100vh;
    width: 100vw;
    background-color: rgb(48, 48, 48);
    color: white;
}

ul{
    position: sticky;
    top:0;
    list-style: none;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
ul li a{
    position: relative;
    top:1.5vh;
    text-decoration:none;
    color:rgb(201, 201, 201);
    animation: transitionIn 0.75s;
}
ul li a:hover{
    color: white;
}
.Logo1{
    margin-top: 20vh;
    display: flex;
    justify-content: space-evenly;
    animation: transitionIn 1.25s;
}
.Text{
    position:relative;
    top: 10vh;
    left: 5vw;
    animation: transitionIn 1s;
}
.GalleryContainer{
    position: relative;
    top: 15vh;
    height: 70vh;
    width: 100vw;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    flex-shrink: 50;
    flex-shrink: var(50);
}

@keyframes transitionIn{
    from {
        opacity: 0;
        transform:translateY(-20px);
    }
    to {
        opacity: 1;
        transform:translateY(0);
    }
}